.ProductsList{
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ProductsListText{
    width: 65%;
}

.ProductsListTitle{
    font-size: 80px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(90deg, rgb(225, 205, 227), rgb(207, 76, 222), rgb(84, 1, 93));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.ProductsListDes{
    margin: 20px 0px;
    font-family:"Montserrat", sans-serif ;
    font-weight: 400;
    font-size:25px ;
}

.Lists{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

@media  screen and (max-width: 480px) {
    .ProductsList{
        padding: 10px;
    }

    .ProductsListText{
        width: 100%;
    }
    

}
